.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    padding-right: 0;
    max-width: unset;
}

.container .title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.container .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .description .learn-more-button {
    display: inline-block;
    padding: 16px 32px;
    background-color: blueviolet;
    color: white;
    width: 50%;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 32px;
}

.container .description .learn-more-button:hover {
    background-color: purple;
}

.image {
    position: relative;
    height: 100%;
    width: 50%;
    object-fit: contain;
}
